body {
  background-image: url("background.jpg");
  background-repeat: repeat;
}

.box {
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 7%), 0 2px 4px rgb(0 0 0 / 7%), 0 4px 8px rgb(0 0 0 / 7%), 0 8px 16px rgb(0 0 0 / 7%), 0 16px 32px rgb(0 0 0 / 7%), 0 32px 64px rgb(0 0 0 / 7%);
  width: 98%;
  margin: 50px 1% 0 1%;
  padding: 2%;
}


#title {
  display: flex;
  text-align: center;
  margin-top: 20px !important;
}

#title h1 {
  width: 100%;
  font-size: 5em;
  text-align: center;
  margin: 0;
  padding-bottom: 0em;
  display: inline-block;
}
.markdown-body #unitswitch{
  display: inline-flex;
  font-size: 4em;
  text-align: right;
}

.markdown-body #unitswitch input{
  margin-left: 20px;
}
.markdown-body #unitswitch button{
  margin-right: 20px;
  vertical-align: middle;

}

.markdown-body #unitswitch ._simple-switch-track {
  --simple-switch_size: 0.75em;
  margin-top: 15px;
}
/* Advanced */
#advanced {
 margin-bottom: 20px !important;
}

#advanced #ota,
#advanced #actions {
  text-align: center;
  display: flex;
  font-size: 2em;
  padding: 0px 2%;
}

#advanced #actions .action-row {
  padding: 5px;
  width: 50%;
}

#advanced #actions #restart{
  background-color: orange;
}

#advanced #actions #shutdown{
  background-color: red;
}

#advanced #ota form {
  width: 100%;
}

#advanced #ota form input{
  width: 30%;
  margin: 0 10%;
}

#submit,
button {
  border-radius: 25px; 
  width: 60%;
  height: 100px;
  font-size: 1em;
}

/* Gauge */
#gauge {
  text-align: center;
  padding: 5%;
  width: 98%;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  color: #004033;
  margin: 50px 1% 0 1%;
}

.temp {
  color: black;
  font-size: 5em;
  position: relative;
  top: -200px;
  height: 1px;
}

.history {
  margin: 50px 1% 0 1%;
  width: 98%;
  padding: 40px 10px 15px 5px;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0 1px 2px rgb(0 0 0 / 7%), 0 2px 4px rgb(0 0 0 / 7%), 0 4px 8px rgb(0 0 0 / 7%), 0 8px 16px rgb(0 0 0 / 7%), 0 16px 32px rgb(0 0 0 / 7%), 0 32px 64px rgb(0 0 0 / 7%);
}

/* Switch */
._simple-switch-checkbox {
  height: 0px;
  width: 0px;
  overflow: hidden;
  opacity:0
}

._simple-switch-track {
    --simple-switch_size: 18px;
    font-size: inherit;
    display: inline-block;
    position: relative;
    vertical-align: baseline;
    background: #ccc;
    border-radius: 18px;
    padding: 0 calc((18px * 1.25) - 6px) 0 0;
    border: 3px solid #ccc;
    transition: background 250ms ease-out, border 250ms ease-out;
    outline: none;
    box-sizing: padding-box;
}
@supports (--foobar: false) {
    ._simple-switch-track {
        border-radius: var(--simple-switch_size);
        padding: 0 calc((var(--simple-switch_size) * 1.25) - 6px) 0 0;
    }
}
._simple-switch-track.on {
    background: #01befe;
    border: 3px solid #01befe;
}
._simple-switch-track.on .handle {
    transform: translateX(calc((18px * 1.25) - 6px));
}
@supports (--foobar: false) {
    ._simple-switch-track.on .handle {
        transform: translateX(calc((var(--simple-switch_size) * 1.25) - 6px));
    }
}
._simple-switch-track.focus {
    border: 3px solid #03a9f4;
}
._simple-switch-track .handle {
    position: relative;
    width: calc(12px);
    height: calc(12px);
    border-radius: 18px;
    background: #fff;
    display: block;
    transition: transform 250ms ease-out;
    will-change: transition;
    z-index: 2;
}
@supports (--foobar: false) {
    ._simple-switch-track .handle {
        width: calc(var(--simple-switch_size) - 6px);
        height: calc(var(--simple-switch_size) - 6px);
        border-radius: var(--simple-switch_size);
    }
}
._simple-switch-track._material {
    padding: 0;
    margin: 3px 0;
    height: 15px;
    width: 27px;
    border: none;
    vertical-align: top;
}
@supports (--foobar: false) {
    ._simple-switch-track._material {
        height: calc(var(--simple-switch_size) - 3px);
        width: calc(var(--simple-switch_size) * 1.5);
    }
}
._simple-switch-track._material.on {
	/*01d6ff*/
	/*01befe*/
    background: #01befe;
}
._simple-switch-track._material.on:after {
    transform: translateX(15px);
}
@supports (--foobar: false) {
    ._simple-switch-track._material.on:after {
        transform: translateX(calc(var(--simple-switch_size) - 3px));
    }
}
._simple-switch-track._material.on .handle {
    background: #01d6ff;
    transform: translateX(15px);
}
@supports (--foobar: false) {
    ._simple-switch-track._material.on .handle {
        transform: translateX(calc(var(--simple-switch_size) - 3px));
    }
}
._simple-switch-track._material:after {
    content: "";
    position: absolute;
    top: -9.25px;
    left: -10px;
    width: 32px;
    height: 32px;
    z-index: 1;
    background: rgba(0, 0, 0, 0.125);
    border-radius: 32px;
    opacity: 0;
    will-change: opacity;
    transition: opacity 250ms ease-out, transform 250ms ease-out;
}
@supports (--foobar: false) {
    ._simple-switch-track._material:after {
        width: calc(var(--simple-switch_size) + 14px);
        height: calc(var(--simple-switch_size) + 14px);
        border-radius: calc(var(--simple-switch_size) + 14px);
    }
}
._simple-switch-track._material.focus:after {
    opacity: 1;
}
._simple-switch-track._material .handle {
    position: absolute;
    top: -2.25px;
    left: -3px;
    width: 18px;
    height: 18px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    transition: transform 250ms ease-out, background 250ms ease-out;
}
@supports (--foobar: false) {
    ._simple-switch-track._material .handle {
        width: var(--simple-switch_size);
        height: var(--simple-switch_size);
    }
}

/* Based off of https://github.com/sindresorhus/github-markdown-css */

.markdown-body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  color: #24292e;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  word-wrap: break-word;
}

.markdown-body a {
  background-color: transparent;
}

.markdown-body a:active,
.markdown-body a:hover {
  outline-width: 0;
}

.markdown-body strong {
  font-weight: bolder;
}

.markdown-body h1 {
  /*font-size: 2em;*/
  margin: 0.67em 0;
}

.markdown-body img {
  border-style: none;
}

.markdown-body pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

.markdown-body hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.markdown-body input {
  font: inherit;
  margin: 0;
}

.markdown-body input {
  overflow: visible;
}

.markdown-body [type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

.markdown-body * {
  box-sizing: border-box;
}

.markdown-body input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.markdown-body a {
  color: #0366d6;
  text-decoration: none;
}

.markdown-body a:hover {
  text-decoration: underline;
}

.markdown-body strong {
  font-weight: 600;
}

.markdown-body hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  /*border-bottom: 1px solid #dfe2e5;*/
}

.markdown-body hr::before {
  display: table;
  content: "";
}

.markdown-body hr::after {
  display: table;
  clear: both;
  content: "";
}

.markdown-body table {
  border-spacing: 0;
  border-collapse: collapse;
}

.markdown-body td,
.markdown-body th {
  padding: 0;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body h1 {
  /*font-size: 32px;*/
  font-weight: 600;
}

.markdown-body h2 {
  font-size: 24px;
  font-weight: 600;
}

.markdown-body h3 {
  font-size: 20px;
  font-weight: 600;
}

.markdown-body h4 {
  font-size: 16px;
  font-weight: 600;
}

.markdown-body h5 {
  font-size: 14px;
  font-weight: 600;
}

.markdown-body h6 {
  font-size: 12px;
  font-weight: 600;
}

.markdown-body p {
  margin-top: 0;
  margin-bottom: 10px;
}

.markdown-body blockquote {
  margin: 0;
}

.markdown-body ul,
.markdown-body ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body ol ol,
.markdown-body ul ol {
  list-style-type: lower-roman;
}

.markdown-body ul ul ol,
.markdown-body ul ol ol,
.markdown-body ol ul ol,
.markdown-body ol ol ol {
  list-style-type: lower-alpha;
}

.markdown-body dd {
  margin-left: 0;
}

.markdown-body pre {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}
.markdown-body::before {
  display: table;
  content: "";
}

.markdown-body::after {
  display: table;
  clear: both;
  content: "";
}

.markdown-body>*:first-child {
  margin-top: 0 !important;
}

.markdown-body>*:last-child {
  margin-bottom: 0 !important;
}

.markdown-body a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.markdown-body p,
.markdown-body blockquote,
.markdown-body ul,
.markdown-body ol,
.markdown-body dl,
.markdown-body table,
.markdown-body pre {
  margin-top: 0;
  margin-bottom: 16px;
}

.markdown-body hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
  border: 0;
}

.markdown-body blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

.markdown-body blockquote>:first-child {
  margin-top: 0;
}

.markdown-body blockquote>:last-child {
  margin-bottom: 0;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.markdown-body h1 {
  padding-bottom: 0.3em;
  /*font-size: 2em;*/
  /*border-bottom: 1px solid #eaecef;*/
}

.markdown-body h2 {
  margin-top: 0px;
  padding-bottom: 0.3em;
  font-size: 3em;
  text-align: center;
}

.markdown-body h3 {
  font-size: 2.5em;
  text-align: center;
}

.markdown-body h4 {
  font-size: 1em;
}

.markdown-body h5 {
  font-size: 0.875em;
}

.markdown-body h6 {
  font-size: 0.85em;
  color: #6a737d;
}

.markdown-body ul,
.markdown-body ol {
  padding-left: 2em;
}

.markdown-body ul ul,
.markdown-body ul ol,
.markdown-body ol ol,
.markdown-body ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body li {
  word-wrap: break-all;
}

.markdown-body li>p {
  margin-top: 16px;
}

.markdown-body li+li {
  margin-top: 0.25em;
}

.markdown-body dl {
  padding: 0;
}

.markdown-body dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.markdown-body dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.markdown-body table {
  display: block;
  width: 100%;
  overflow: auto;
}

.markdown-body table th {
  font-weight: 600;
}

.markdown-body table th,
.markdown-body table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.markdown-body table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.markdown-body table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.markdown-body img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
}

.markdown-body img[align=right] {
  padding-left: 20px;
}

.markdown-body img[align=left] {
  padding-right: 20px;
}

.markdown-body pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
  word-wrap: normal;
}
.markdown-body :checked+.radio-label {
  position: relative;
  z-index: 1;
  border-color: #0366d6;
}

.markdown-body hr {
  border-bottom-color: #eee;
}

#log .v {
  color: #888888;
}

#log .d {
  color: #00DDDD;
}

#log .c {
  color: magenta;
}

#log .i {
  color: limegreen;
}

#log .w {
  color: yellow;
}

#log .e {
  color: red;
  font-weight: bold;
}

#log {
  background-color: #1c1c1c;
}
